In [1]:
import pandas as pd

**JOB POSTING**

In [3]:
link_table = pd.read_excel("C:\\Users\\王亭烜\\Downloads\\compustat_map (1).xlsx", index_col=0)
jp_data = pd.read_parquet("E:\\out\\2024_company_ai_share.parquet") # change year 
jp_data['company_num'] = pd.to_numeric(jp_data["company"], errors="coerce")

merged_data = jp_data.merge(link_table, left_on='company_num', right_on='ID', how='inner')

merged_data.to_parquet("E:\\out\\2024_compustat.parquet", index=False) # change year

In [4]:
merged_data

,company,company_name,n_postings,n_ai_jobs,ai_job_share,company_num,conm,gvkey,tic,ID,NAME
0,47284356.0,Pactera,2,2.0,1.0,47284356.0,PACTERA TECHNOLOGY INTL,185121,PACT,47284356.0,Pactera
1,37633334.0,ESSA Pharma,1,1.0,1.0,37633334.0,ESSA PHARMA INC,22964,EPIX,37633334.0,ESSA Pharma
2,108452550.0,Ferrovial SE,1,1.0,1.0,108452550.0,FERROVIAL SE,271217,FER,108452550.0,Ferrovial SE
3,82532733.0,Heartsciences,1,1.0,1.0,82532733.0,HEARTSCIENCES INC,41270,HSCS,82532733.0,Heartsciences
4,108446122.0,Jet.AI,1,1.0,1.0,108446122.0,JET.AI INC,39412,JTAI,108446122.0,Jet.AI
...,...,...,...,...,...,...,...,...,...,...,...
5360,35550122.0,Y-Mabs Therapeutics,1,0.0,0.0,35550122.0,Y MABS THERAPEUTICS INC,34135,YMAB,35550122.0,Y-Mabs Therapeutics
5361,28266.0,Yatra Online,1,0.0,0.0,28266.0,YATRA ONLINE INC,29569,YTRA,28266.0,Yatra Online
5362,37168195.0,Yogaworks,1,0.0,0.0,37168195.0,YOGAWORKS INC,32192,YOGAQ,37168195.0,Yogaworks
5363,35690516.0,Ytb,1,0.0,0.0,35690516.0,YTB INTERNATIONAL INC,21201,YTBLQ,35690516.0,Ytb
5364,35810371.0,Zale Corporation,1,0.0,0.0,35810371.0,ZALE CORP,11669,ZLC,35810371.0,Zale Corporation

**RESUME**

In [16]:
resume_data = pd.read_parquet("D:\\temp2.parquet")

# here we link data to its GVKEY by company name instead of ID
# you can use ID if you want but you have to keep column "id" when executing 04_resume_measure.py 
merged_data = resume_data.merge(link_table, left_on='company_name', right_on='NAME', how='inner')
year_filter = (merged_data['year']>=2010) & (merged_data['year']<2025)
merged_data = merged_data[year_filter].reset_index(drop=True)
merged_data.to_parquet("D:\\resume_compustat.parquet", index=False)